nav{
    display:flex;
    justify-content: space-around;
    align-items: center;
    min-height: 7vh;
    background-color:rgb(73, 79, 82);
    color:white;
}

.nav-links{
    display : flex;
    justify-content: space-around;
    align-items:center;
    list-style: none;
}